.calendar {
  display: flex;

  &__filters {
    background-color: white;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    height: 342px;
    box-shadow: 0px 10px 40px rgba(128, 158, 191, 0.2);
    border-radius: 10px;
  }

  &__filter-checkbox {
    position: absolute;
    visibility: hidden;
  }

  &__filter-checkbox:checked+&__filter-period{
    background: #F0F3F8;
    border-radius: 5px;
  }

  &__filter-period {
    font-family: PT Sans, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    display: flex;
    align-items: center;
    width: 156px;
    height: 39px;
    padding-left: 14px;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 5px;

    &:hover {
      border: 2px solid #EBEEF3;
      border-radius: 5px;
    }
  }

  &__dates-block {
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    margin-left: 8px;
    width: 288px;
    height: 342px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(128, 158, 191, 0.2);
    border-radius: 10px;
  }

  &__block-calendar{
    position: relative;
  }
  &__current-month{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
  }

  &__main-controls {
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  &__cancel {
    width: 130px;
    height: 45px;
    border: 2px solid #000000;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      background: #000000;
      color: white;
    }
  }

  &__update {
    border: none;
    margin-left: 7px;
    width: 130px;
    height: 45px;
    background: #FF7439;
    border-radius: 7px;
    cursor: pointer;
    &:disabled{
      background: rgba(255, 116, 57, 0.5);
    }
  }
}



.block-calendar{

  &-month {
    background-blend-mode: overlay;
    padding: 17px 0 22px 0;
    margin-top: 16px;
    background: #F3F8FD;
  }

  &-month_header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px 15px 0 15px;
  }

  &-month_header_title{
    display: none;
  }

  &-header_button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      border-color: #F16E36;
    }

    background-color: #FFFFFF;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 2px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/filter-calendar/images/icon-calendar-control-arrow.svg");

    &.is-next {
      transform: rotate(180deg);
    }
  }

  &-days_of_week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
  }

  &-week {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    justify-items: center;
  }

  &-week-day {
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 28px;
    outline: none;
    z-index: 2;

    &.is-prev_month,
    &.is-next_month {
      color: rgba(0, 0, 0, 0.21);
    }

    &:first-child{
      padding-left: 14px;
      &:before{
        left: 65%;
      }
    }
    &:last-child{
      padding-right: 14px;
      &:before{
        left: 35%;
      }
    }
    position: relative;

    &:hover:before{
      background: #DFE9F3;
    }

    &:before{
      content: '';
      display: block;
      width: 28px;
      height: 28px;
      position: absolute;
      left: 50%;
      top: 0;
      border-radius: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }

    &.is-start_selection.is-highlighted{
      &:before{
        background: #FF7439;
      }
      &:after{
        width: 50%;
        left: 50%;
        background: rgba(255, 116, 57, 0.2);

      }
    }

    &.is-start_selection.is-end_selection.is-highlighted{
      &:after {
        display: none;
      }
    }

    &.is-end_selection.is-highlighted{
      &:before{
        background: #FF7439;
      }
      &:after{
        width: 50%;
       right: 50%;
        background: rgba(255, 116, 57, 0.2);

      }
    }

    &.is-highlighted {
      width: 100%;
      position: relative;
      &:after{
        display: block;
        content: '';
        position: absolute;
        width: 100%;
        height: 28px;
        top: 0;
        left: 0;
        background: rgba(255, 116, 57, 0.2);
        z-index: -2;
      }
    }
  }

}
